.arrowcolor {
    background-color: black !important;
}
/* Links - change color on hover */
.topnav a:hover {
  background-color: #FFCC00;
  color: black;
} 

.platzhalter {
    padding: 20px;
}

/*body background*/
body {
    /*background-color: lightgray !important;*/
    padding: 12px;
}

/*for changing color of links in navbar*/
a {
    color:black !important;
}

/*size for the logo*/
img#logo {
  width: 40%; 
  height: auto;
}
/*bg of header*/
.headerbg {
    background-color: #333;
    padding: 30px;
}
/*tryed to let 1 link in navbar float right... didnt work*/
.pull-right {
    float: right !important;
}
a#kont {
    float: right;
}
/*!float right*/
/*color of Navbar*/
.primary-color {
    background-color: rgb(25, 153, 204);
    background-color: rgb(241, 241, 47);
}
.sec-color {
    background-color: rgb(27, 155, 206);
    background-color: rgb(270, 270, 100) !important;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/*.carousel {
  height: 500px;
  margin-bottom: 60px;
}*/
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: lightgray;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/*Detail Content
-----------------------------------------------------*/

/*Detail Picture*/

.detlPic {
  width: 100%;
  float: left;
  margin-right: 5%;
}
.star-small {
  width: 100px;
}
.star-big {
  width: 200px;
}

/*Content*/
.content {
  padding-left: 15% !important;
  padding-right: 15% !important;
  padding-top: 3%;
}
.margin-b-50 {
  margin-bottom: 50px;
}
.margin-t-150 {
  margin-top: 150px;
}
.height-100 {
  height: 100px;
}
.width-100 {
  width: 100%;
}
.detlFont {
  font-size: 200%;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


/*PRODUCT PAGE
-------------------------------------------------- */

.padpic{
    padding-left: 10px;    
    padding-bottom: 0px;
    padding-top: 10px;
    border-width: 1px;
    border: 2px solid white;
    border-bottom:  none;
    text-align: center;
    
}

.padtext{
    padding-left: 0px;    
    padding-bottom: 10px;
    padding-top: 1px;
    border-top: none;
    border-width: 1px;
    border: 2px solid white;
    text-align: center;
    
}

.pic{
    width: 50%;
    
}


/*FOOTER
-----------------------------------------------------*/
.bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
}