:root {
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    color: antiquewhite;
}

body {
    background-color: #333;
    font-size: 25px;
    margin: 0;
    padding: 0;
}    
header {
    width: 100%;
    height: 95px;
    background-color: #005f6b;
    box-shadow: #0047506b;
    font-size: 20px;
    font-style: bold;
    z-index: 1;
    position: sticky;
    top: 0px;
    margin: 0;
}

p {
    text-align: justify;
}

nav {
    text-align: right;
    padding: 10px 30px 10px 30px;
    margin: 0;
}

nav ul {
    padding: 0;
    margin: 5px 0 20px 0;
}

nav ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

nav ul li a{
    padding: 10px 25px 10px 25px;
    margin: 0;
    background-color: transparent;
    border-radius: 5px;
}

nav ul li a:hover:not(.active) {
    background-color: #007585;
    color: rgb(60, 60, 60);
}

a:link {
    background-color: transparent;
    text-decoration: none;
    color: antiquewhite;
}

a:visited {
    color: antiquewhite;
    background-color: transparent;
    text-decoration: none;
}

.article1, .section1, .all{
    padding: 20px 300px 20px 300px;
    height: auto;
}

footer {
    width: 100%;
    background-color: #005f6b;
    font-size: 15px;
    text-align: center;
    position: relative;
    bottom: 0;
    clear: both;
}

nav ul li a:hover(.active) {
    background-color: #008c9e;
}

.menuicon {
    display: none;
}

.top{
    width: 100%;
    height: 20px;
    background-color: #005f6b;
    margin-bottom: 6px;
}

.logo {
    font-weight: bold;
    font-size: 25px;
    float: left;
    margin-left: 15px;
    margin-top: 25px;
}

.headerpic {
    width: 100%;
    margin: 0;
}

nav ul li a.active {
    background-color: #00444d;
}

table {
    width: 100%;
}

td {
    vertical-align: top;
    min-width: 30px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    height: 30px;
} 

select {
    width: 100.5%;
    height: 36px;
}

textarea {
    width: 100%;
}

.clearfix {
    overflow: auto;
}

.box1 {
    color: antiquewhite;
    background-color: #003238;
    border-style: inset;
    border-color: #005f6b;
    border-width: 2px;
    font-size: 20px;
    border-radius: 5px;
}

.right {
    margin-left: auto;
    margin-right: 0;
    display: block;
}

.middle {
    text-align: center;
    padding-top: 15px;
    padding-bottom: auto;
}

.d30 {
    width: 30px;
    height: 30px;
}

.bes {
    width: 25%;
    height: 50px;
    background-color: #005f6b;
    color: antiquewhite;
    border-radius: 5px;
}

.divx {
    box-sizing: border-box;
    height: auto;
    float: left;
    text-align: center;
    padding: 20px 20px;
    background-color: #005f6b;
    border: 3px solid #333;
    border-radius: 10px;
    display: block;
}

.div2:hover, .div3:hover, .divx:hover {
    background-color: #007585;
    color: rgb(60, 60, 60);
}

.div1 {
    width: 100%;
}

.div2 {
    width: 50%;
}

.div3 {
    width: 33%;
    margin: auto;
    padding: 20px;
}

.divp {
    height: 320px;
    width: 33%;
    float: left;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.element2 {
    width: auto;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.element3 {
    width: auto;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pic1 {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
}

.galerie .pic1 {
    filter: grayscale(75%);
}

.galerie .pic1:hover {
    filter: grayscale(0);
    max-width: 95%;
    max-height: 95%;
}

.white {
    background-color: white;
    margin: 10px;
}

.line {
    height: 20px;
    border-bottom: 2px solid antiquewhite;
}

.hidden {
    display: none;
}

.qdr {
    width: 50%;
    height: 700px;
    float: left;
    padding: 20px;
    background-color: #005f6b;
    border: 3px solid #333;
    border-radius: 10px;
}

.article2 {
    width: 75%;
    float: left;
    clear: both;
}

.aside1 {
    width: 20%;
    float: right;
}

@media screen and (max-width: 1800px) {
    .article1, .section1, .all {
        padding: 20px 250px 20px 250px;
    }
}
@media screen and (max-width: 1600px) {
    .article1, .section1, .all {
        padding: 15px 200px 15px 200px;
    }
}
@media screen and (max-width: 1400px) {
    .article1, .section1, .all {
        padding: 15px 150px 15px 150px;
    }

    .divp {
        width: 50%;
    }
}
@media screen and (max-width: 1200px) {
    .article1, .section1, .all {
        padding: 15px 125px 15px 125px;
    }
}
@media screen and (max-width: 1000px) {
    .nav1 {
        padding: 10px 20px 10px 20px;
        font-size: 15px;
    }
    .article1, .section1, .all {
        padding: 10px 80px 10px 80px;
    }
    header {
        height: 80px;
    }
    .logo {
        margin-top: 15px;
    }
    .element2, .element3 {
        height: 70px;
    }
}
@media screen and (max-width: 800px) {
    .article1, .section1, .all {
        padding: 5px 50px 5px 50px;
    }
}
@media screen and (max-width: 700px) {

    article, aside {
        font-size: 20px;
    }

    .article1, .section1, .all {
        padding: 5px;
    }

    .article2, .aside1 {
        width: 100%;
    }

    .element3 {
        width: 100%;
    }

    .menuicon {
        display: block;
    }
    nav {
        padding: 0;
    }
    
    nav ul {
        margin-top: 10px;
        display: none;
        background-color: #005f6b;
        width: 100%;
        text-align: center;
        border-bottom-left-radius: 5px; 
        border-bottom-right-radius: 5px;
    }
    
    nav ul li {
        display: block;
    }
    
    nav ul li a {
        display: block;
        border-radius: 0;
    }

    header {
        height: 62px;
    }

    .logo {
        margin-top: 5px;
    }

    .div2, .div3, .divp {
        width: 100%;
        
    }

    .element2, .element3 {
        display: none;
    }
}

@media screen and (max-width: 250px) {
    .logo {
        font-size: 15px;
        margin-top: 13px;
    }
}

@media screen and (max-width: 175px) {
    .logo {
        display: none;
    }
}


.container {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(44, 44, 44);
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.chang {
    display: block;
}

.colorchange {
    background-color: #00444d;
}